<!DOCTYPE html>
<html>
<head>
    <title>Página No Encontrada</title>
    <!-- Agrega los enlaces a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Página No Encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Ir a la Página Principal</a>
    </div>
    <!-- Agrega los enlaces a Bootstrap JS y jQuery al final del cuerpo -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
